/* color variable declarations */
/* theme: https://github.com/sainnhe/gruvbox-material */

:root {
    --bg_primary: #1d2021;
    --bg_dim: #141617;

    --txt_primary: #ddc7a1;
    --txt_dim: #a89984;

    --red: #ea6962;
    --orange: #e78a4e;
    --yellow: #d8a657;
    --green: #a9b665;
    --aqua: #89b482;
    --blue: #7daea3;
    --purple: #d3869b;
}


/* font declarations */
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("assets/fonts/Atkinson-Hyperlegible-Regular.otf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMonoNerdFont-Medium.ttf");
}

@font-face {
    font-family: "Stuart";
    src: url("assets/fonts/Stuart.ttf");
}


/* general text styles */
* {
    text-align: center;
    background-color: var(--bg_primary);
    color: var(--txt_primary);
    font-family: "Atkinson Hyperlegible";
    line-height: 1.55;
}


h1,h2,h3 {
    font-family: "Stuart";
}

h2 {
    color: var(--blue);
}

hr {
    border: 1px dashed var(--red);
}

small {
    font-size: 12px;
    font-family: "Jetbrains Mono";
    color: var(--txt_dim);
}


/* ability scores and bonuses */
.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex-row input[type=number] {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--txt_primary) ;
    border-radius: 15px;
    height:100px;
    width: 110px;
    font-family: "Jetbrains Mono";
    font-size: 40px;
    color: var(--purple);
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-col label {
    align-items: left;
    text-align: left;
}

/* makes the proficiency textbox appear on the same line as the "Proficiency bonus" label text */
#prof-textbox {
    display: flex; 
}

#prof-textbox input[type=number] {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--txt_primary) ;
    border-radius: 4px;
    height:1.5em;
    width: 3em;
    font-family: "Jetbrains Mono";
    font-size: 1em;
    color: var(--purple);
    margin-left: 10px;
}




/* d20 */
.d20-container {
    position: relative;
    text-align: center;
}

#d20-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Jetbrains Mono";
    font-size: 55px;
    /* color: var(--green); */
    background-color: transparent;
}

#d20-img {
    width:400px;
    border-radius: 25px;
    border: var(--txt_primary) solid 3px;
}